body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: gray;
}

.nav {
  position: fixed;
  left: 0px;
  right: 0px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
   
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: gray;
  margin: 0 auto;
  padding: 0;
  height: 40px;
}

.nav-link {
  padding: 0 10px;
  line-height: 20px;
  text-decoration: none;
  color:whitesmoke;
}

main {
  padding: 40px 0 0 0;
}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
}


.section-title {
  color: gray;
  margin-top: 20px;
  margin-bottom: -5px;
}

.section-profile {
  display: flex;
  justify-content: space-between;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto 10px auto;
  padding: 5px;
  background-color: gray;
  color:whitesmoke;
}

.footer-link {
  text-decoration: none;
  color:whitesmoke;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/img/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}